PORT=8081
DB_HOST=localhost
DB_PORT=5432
DB_NAME=receipt_db
DB_USER=postgres
DB_PASSWORD=replace-locally
ADMIN_USERNAME=replace-locally
ADMIN_PASSWORD_HASH=replace-with-bcrypt-hash
SESSION_COOKIE_SECURE=false
# LOGIN_MAX_FAILURES=5
# LOGIN_LOCK_MINUTES=15
